* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* common */
body {
    font-family: 'Open Sans', sans-serif;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.float-sx {
    float: left;
}
.float-dx {
    float: right;
}
/* fine common */
/* inizio Header  */
.contenitore-menu {
    width: 100%;
    height: 70px;
}
.logo {
    width: 10%;
    /* height: 70px; */
    background-color:white;
    vertical-align: middle;
    line-height: 70px;
    text-align: center; 
    padding: 0 10px;
} 
 
.box-nav {
    width: 30%;
    height: 70px;
    text-align: center;
    line-height: 70px;    
}
.box-nav ul li {
    display: inline;
    list-style: none;
}

.box-nav ul li a {
    text-decoration: none;
    color: black;
    padding: 0 10px;
} 
.box-nav li a:hover {
    height: 70px;
    border-bottom: 2px solid rgb(43, 68, 255);

}
.bottone {
    width: 10%;
    height: 70px;
    display: inline-block;
    background-color:white;
    vertical-align: middle;
    line-height: 70px;
    text-align: center; 
    padding: 0 10px;
}
#bottone-inizia {
   background-color: rgb(43, 68, 255);
   color: white;
   text-decoration: none;
   padding: 5px 10px;

}


/* fine Header */
/* inizio junbotron  */
.contenitore-banner {
    width: 90%;
    height: 400px;
    background-color: chartreuse;
    margin: 0 auto ;
}
h1 {
    width: 100%;
    height: 50px;
    background-color: darkgray;
    
}
.testo-banner {
    width: 40%;
    height: 200px;
    background-color: darkred;
    
}
.immagine-banner {
    width: 60%;
    height: 200px;
    background-color:darkslategrey;
    

}

/* fine junbotron  */

/* debug */

.junbotron {
    width: 100%;
    height: 400px;
    background-color: burlywood;
}
.contenitore-sezioni {
    width: 70%;
    height: 1000px;
    margin: 0 auto;
    background-color: coral;
}
.contenitore-footer {
    width: 100%;
    height: 400px;
    background-color: cornflowerblue;
}

/* /debug */