* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* common */
body {
    font-family: 'Open Sans', sans-serif;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.float-sx {
    float: left;
}
.float-dx {
    float: right;
}
/* fine common */
/* inizio Header  */
.contenitore-menu {
    width: 100%;
    height: 70px;
    

}
.logo {
    width: 10%;
    /* height: 70px; */
    background-color:white;
    vertical-align: middle;
    line-height: 70px;
    text-align: center; 
    padding: 0 10px;
}    
 .box-nav-sx ul li {
     display: inline;
     list-style: none;
 }
 .box-nav-sx ul li a {
     text-decoration: none;
     color: black;
     padding: 0 10px;
 } 



.box-nav-sx {
    width: 30%;
    height: 70px;
    text-align: center;
    line-height: 70px;
    
    
}
.box-nav-dx {
    width: 30%;
    height: 70px;
    background-color: blanchedalmond;
    border: 1px solid black;
    
    

}
.bottone {
    width: 10%;
    height: 70px;
    background-color: darkblue;
    border: 1px solid black;
    display: inline-block;
    

}
/* fine Header */
/* inizio junbotron  */
.contenitore-banner {
    width: 90%;
    height: 400px;
    background-color: chartreuse;
    margin: 0 auto ;
}
h1 {
    width: 100%;
    height: 50px;
    background-color: darkgray;
    
}
.testo-banner {
    width: 40%;
    height: 200px;
    background-color: darkred;
    
}
.immagine-banner {
    width: 60%;
    height: 200px;
    background-color:darkslategrey;
    

}

/* fine junbotron  */

/* debug */

.junbotron {
    width: 100%;
    height: 400px;
    background-color: burlywood;
}
.contenitore-sezioni {
    width: 70%;
    height: 1000px;
    margin: 0 auto;
    background-color: coral;
}
.contenitore-footer {
    width: 100%;
    height: 400px;
    background-color: cornflowerblue;
}

/* /debug */