* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* common */
body {
    font-family: 'Open Sans', sans-serif;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.float-sx {
    float: left;
}
.float-dx {
    float: right;
}
/* fine common */
/* inizio Header  */
.contenitore-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: white;
    z-index: 999;
}
.logo {
    width: 10%;
    /* height: 70px; */
    background-color:white;
    vertical-align: middle;
    line-height: 70px;
    text-align: center; 
    padding-left: 15px;
} 
 
.box-nav {
    width: 30%;
    height: 70px;
    text-align: center;
    line-height: 70px;    
}
.box-nav ul li {
    position: relative;
    display: inline-block;
    list-style: none;
}

.box-nav ul li a {
    /* display: inline-block; */
    text-decoration: none;
    color: black;
    padding: 0 10px;
} 
.box-nav li a:hover {
    height: 68px;
    border-bottom: 2px solid rgb(32, 48, 168);
    padding-bottom: 24px;

}
ul#menu li:hover ul {
    visibility: visibile;

}
ul#menu ul li {
    float: none;
    display: block;

}
ul#menu ul {
    display: inline-block;
    list-style: none;
    visibility: hidden;
    position: absolute;
    top: 72px;
    left: 0;
    z-index: 999;
    background-color: white;
}
ul#menu li:hover ul {
    visibility: visible;

}
ul#menu ul li {
    float: none;
    display: block;
}
ul#menu ul a {
    margin: 0;
    padding: 0 20px;
    border: 0;
}

.bottone {
    width: 10%;
    height: 70px;
    display: inline-block;
    background-color:white;
    vertical-align: middle;
    line-height: 70px;
    text-align: center; 
    padding: 0 10px;
}
.bottone-base {
   background-color: rgb(43, 68, 255);
   color: white;
   text-decoration: none;
   padding: 5px 10px;

}

/* fine Header */

/* inizio junbotron  */
.junbotron {
    width: 100%;
    /* max-width: 1320px; */
    height: 600px;
    background-color: rgb(176, 208, 233);
    position: relative;
    bottom: -70px;
}
.contenitore-banner {
    width: 80%;
    margin: 0 auto ;
}
.contenitore-banner h1 {
    width: 100%;
    font-size: 60px;
    font-weight: 700;
    padding-top: 40px;
    margin-bottom: 80px; 
}
.testo-banner {
    width: 40%; 
}
.testo-banner p {
    max-height: 150px;
    margin-bottom: 30px;
    overflow-y: auto;
    padding-right: 30px;
}

#annulla { 
    margin-top: 20px;
}
#freccia {
    font-size: 30px;
}
.immagine-banner {
    width: 60%;
    height: 200px; 
    display: inline-block;   
}
.immagine-banner img {
    width: 100%; 
    /* padding-top: 80px;           */
}
#ancora {

}

/* fine junbotron  */

/* inizio main  */
.contenitore-sezioni {
    width: 70%;
    /* height: 1000px; */
    margin: 0 auto; 
}
    
/* sezione1  */
.seziione1 {
    width: 100%;
    margin-top: 120px;
}
.radio {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid;
    border-radius: 50%;
    border-color: lightgray;
    line-height: 50px;
    vertical-align: middle;
}
#cerchio-blu{
    border: 5px solid rgb(43, 68, 255);
}
.box-radio {
    width: 100%;
    height: 50px;
    margin-bottom: 60px;
   
}
.sezione1 span {
    margin-right: 30px;
    line-height: 50px;
    vertical-align: middle;
    
}

.sezione1 h2 {
    font-size: 30px;
    padding-top: 120px;
    font-weight: 700;
    margin-bottom: 30px;
    line-height: 120px ;
}
/* sezione2  */
.sezione2 {
    width: 100%;
    padding-bottom: 60px;
}
.box.colonne {
    width: 100%;
}
.colonna {
    width: calc((100% / 3) -  40px); 
    min-height: 1023px;     
    border: 1px solid lightgray;
}
.box-colonne .colonna:nth-child(2) {
    margin: 0 60px;
}
.top-colonna {
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid lightgray;
}
.top-colonna span i {
   padding-right: 10px;
}
.base-colonne {
    width: 100%;
    /* height: 200px; */
    border: 1px solid lightgray;
    margin-top: 25px; 
   
}
.contenuto-colonna {
    padding: 20px;
}
/* contenuto colonne sezione 2 */

.contenuto-colonna h3 {
    font-size: 25px;
    margin-bottom: 20px;
}
.prezzo {
    font-weight: 600;
    padding-bottom: 10px;
}
.periodo {
    color: lightgray;
    padding-bottom: 25px;
}
.icone-lista  span li {
    display: inline-block;

   
    
}
.utente, .spazio, .funzioni {
    list-style-type: none;
    padding-bottom: 10px;
    padding-left: 20px;
}
.bottone-colonna {
    margin-top: 40px;
    margin-bottom: 30px;
}
.oppure {
    padding-right: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid lightgray;
} 
.contenitore-lista {
    width: 100%;
    margin-top: 60px;

}

.spunta-lista {
    list-style-type: none;
    list-style-position: outside;
    padding: 10px;
    margin: 0;
    
}
.spunta-lista li span{
    padding: 0 10px;
    color: rgb(43, 68, 255);
}
/* .spunta-lista li::before {
    content: "\f00c";

    padding-right: 10px;
    color: rgb(43, 68, 255);
} */

.box-colonna-base {
    position: relative;
    padding: 20px;
}
.base-colonne .bottone-colonna-base {
    position: absolute;
    top: 30px;
    right: 20px;
}
/* fine contenuto colonne sezione 2  */
/* fine sezione 2  */

/* inizio sezione 3  */
.sezione3 {
    position: relative;
    margin-top: 60px;
   
}
.box-img-sezione3 {
    display: inline-block;
    margin-bottom: 60px;
}
.box-img-sezione3 img {
    display: inline-block;
    width: 50%;
}
.box-testo-sezione3 {
    position: absolute;
    display: inline-block;
    left: 50%;   
    width: 50%;
    padding: 30px;

}
.bottone-bianco{
    background-color: white;
    color: black;
    border: 1px solid black;
    text-decoration: none;
    padding: 5px 10px;
}    
.bottone-sezione3 {
    margin-top: 30px;
}
/* fine sezione 3  */

/* inizio sezione 4  */
.sezione4 {
    width: 100%;
}
.box-riga {
    width: 100%;
 
    /* background-color:red;
    border: 1px solid black; */
}
.box-riga div {
    width: calc(100% / 3);
    padding: 20px;
    /* background-color: blanchedalmond;
    border: 1px solid black; */
    margin-bottom: 30px;
}
.box-riga img {
    width: 100%;
    
}

#sottolineato {
    text-decoration: underline;
} 
/* fine sezione 4  */


/* inizio sezione 5  */
.sezione5 h2 {
    margin-bottom: 30px;
}
#scopri {

}
/* fine sezione 5 */
/* fine main  */

/* inizio footer */
.contenitore-footer {
    width: 100vw;
    /* background-color: cornflowerblue; */
}

/* inizio footer sezione1 loghi */
.sezione-foot1 {
    width: 100vw;
    margin-top: 40px;
}
.box-grande-loghi {
    position: relative;
    width: 30vw;
    height: 30vw;
    /* background-color: chartreuse;
    border: 1px solid black; */
}

.box-piccolo {
    position: absolute;
    width: 15vw;
    height: 15vw;
    /* border: 1px solid black;
    background-color: blue; */
}

.box-grande-loghi img {
    display: inline-block;
    width: 50%;
    -webkit-filter: invert(100%); /* Safari/Chrome */
    filter: invert(100%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo1 {
    background-color: rgb(146, 218, 155);
    border: 1vw solid rgb(201, 237, 205);
}
.logo2 {
    top: 0;
    right: 0;
    background-color: rgb(106, 0, 40);
}
.logo3 {
    bottom: 0%;
    left: 0;
    background-color: rgb(0, 146, 209);
}
.logo4 {
    bottom: 0;
    right: 0;
    background-color: rgb(255, 0, 0);
}
.logo5 {
    background-color: rgb(230, 0, 0);
}
.logo6 {
    top: 0;
    right: 0;
    background-color: rgb(176, 208, 233);
}
.logo7 {
    bottom: 0%;
    left: 0;
    background-color: rgb(29, 8, 131);
}
.logo8 {
    bottom: 0;
    right: 0;
    background-color: rgb(255, 220, 0);
}

.box-centrale-loghi {
    width: 40vw;
    height: 30vw;
    background-color: lightgray;
    padding: 4vw ;
}
.box-centrale-loghi img {
    width: 30%;
  
}

#linea {
    color: gray;
    margin-top: 3vw;
    margin-bottom: 3vw;
    width: 5vw;
}

.box-centrale-loghi p:last-child {
    padding-top: 2vw;
}
/* Fine footer sezione loghi  */

/* inizio sezione footer celeste  */
.sezione-foot2 {
    width: 100vw;
    
    background-color: rgb(176, 208, 233);
}
.box-area-centrale {
    width: 60vw;
    height: 15vw;
    margin: 0 auto;
}
.box-testo {
    display: inline-block;
    margin-top: 6vw;
   
}
.box-area-centrale h2 {
    display: inline-block;
    color: rgb(106, 0, 40);
}
.box-area-centrale a {
    display: inline-block;
    margin-top: 6vw;
    border: none; 
}

/* fine sezione footer celeste  */

/* inizio sezione domande */
.sezione-foot3 {
    width: 60%;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 60px;
}
.titolo {
    border-bottom: 1px solid lightgray;
    padding-bottom: 30px;
}
.box-domanda {
    width: 100%;
    border-bottom: 1px solid lightgray;
    padding: 20px 0;
}
.domanda {
    
}
.freccia-apri {
    padding: 0 20px;
}
.risposta {
    display: none;

}
.freccia-apri i:hover .risposta {
    display: block;
    visibility: visible;
}


/* fine sezione domande */

/* inizio sezione footer link  */
.sezione-foot4 {
    width: 100%;
    background-color: black;
}
.box-liste-foot {
    width: 80%;
    margin: 0 auto;
}
.box-lista {
    width: calc(100% / 5);
    min-height: 200px;
    color: white;
    display: inline-block;
    margin-top: 60px;
    margin-bottom: 60px;
}
.titolo-sezione {
    padding-bottom: 20px;
}
.box-lista ul li {
    list-style: none;
    padding-bottom: 10px;
}
.box-lista ul li a {
    text-decoration: none;
    color: white;
}

/* fine sezione footer link  */

/* inizio sezione cambio lingua */
.sezione-foot5 {
    width: 100%;
    background-color: black;
}
.box-centrale {
    width: 80%;
    margin: 0 auto;
}
.box-cambio-lingua {
    width: 130px;
    height: 150px;
    border-top: 1px solid grey;
}
.box-riga-lingua {
    color: grey;
    padding: 50% 0;
}
/* fine sezione cambio lingua */
/* fine footer */